---
import "../styles/global.css"
---

<header>
    <div class="header-box">
        <a class="logo-link" href="/">Havre</a>
    
        <nav>
            <a href="">Comprar</a>
            <a href="">Vender</a>
            <a href="">Zonas</a>
            <a href="">Sobre Havre</a>
        </nav>
    
        <div class="right-header">
            <a class="header-login" href="">Acceder</a>
            <a class="cta-header" href="">Vender mi casa</a>
        </div>
    </div>
</header>